<section *ngFor="let order of allOrders" class="bg-main-light shadow rounded-4 p-4 my-4 w-75 mx-auto">
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="h2">Order List:</h1>
    </div>
    <p class="text-main">Total Cart Price: {{ order.totalOrderPrice | currency:'GBP' }}</p>
    <p ><span class="text-main">Payment method:</span> {{ order.paymentMethodType}}</p>
    <p class="text-capitalize"><span class="text-main">Address:</span> {{ order.shippingAddress.city}}</p>
  
    <div *ngFor="let item of order.cartItems" class="row mb-2 border-bottom">
      <div class="col-md-1">
        <img [src]="item.product.imageCover" class="w-100" [alt]="item.product.title">
      </div>
      <div class="col-md-11">
        <div class="row">
            <div class="col-md-9">
                <h3 class="h5">{{ item.product.title }}</h3>
                <p><span class="text-main m-0">Brand:</span> {{ item.product.brand.name }}</p>
              </div>
              <div class="col-md-3">
                  <p><span class="text-main m-0">Price:</span> {{ item.price | currency:'GBP' }}</p>
                  <p><span class="text-main m-0">Count:</span> {{ item.count }}</p>
              </div>
        </div>
      </div>
    </div>
  
    <button class="btn-main" routerLink="/home">Back home</button>
  </section>
  